---
// Aquí importaremos los componentes de React para el contador y el modal
import Counter from '../components/Counter.tsx';
import RsvpDialog from '../components/Confirmation.tsx';
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invitación Fiesta</title>
    <link rel="stylesheet" href="/styles/global.css">
  </head>
  <body class="bg-cyan-50 text-gray-800">
    <main class="flex flex-col items-center justify-center min-h-screen py-8">
      <!-- Hero Section -->
      <section class="text-center my-8">
        <h1 class="text-5xl font-bold text-cyan-600">¡Estás Invitado a mis XV!</h1>
      </section>

      <!-- Card con Contador -->
      <div class="bg-white shadow-lg rounded-lg p-6 max-w-lg my-6">
        <h2 class="text-2xl font-semibold mb-4 text-cyan-700">Cuenta regresiva hasta el evento</h2>
        <Counter targetDate="2025-02-21T00:00:00" client:load/>
      </div>

      <!-- Card con los Detalles del Evento -->
      <div class="bg-white shadow-lg rounded-lg p-6 max-w-lg my-6">
        <h2 class="text-2xl font-semibold text-cyan-700 mb-4">Detalles del Evento</h2>
        <p><strong>Lugar:</strong> Salón de Eventos "Elegante"</p>
        <p><strong>Fecha:</strong> 21 de Febrero de 2025</p>
        <p><strong>Código de vestimenta:</strong> Elegante</p>
      </div>

      <!-- Botón para Confirmar Asistencia -->
      <button 
        class="bg-cyan-600 text-white font-bold py-2 px-4 rounded-full hover:bg-cyan-700"
        onclick="document.getElementById('rsvp-dialog').showModal()"
      >
        Confirmar Asistencia
      </button>

      <!-- Dialog para Donaciones -->
      <RsvpDialog />

    </main>
  </body>
</html>
