---
import "@/styles/globals.css";

import { Card, CardHeader, CardTitle, CardContent } from "@/components/ui/card";
import { BankTransferDialog, RSVPDialog } from "@/components/Confirmation";
import { MapPin, Clock, Calendar, Shirt, Sparkle } from "lucide-react";
import { CountdownTimer } from "@/components/Counter";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>¡Feliz Cumpleaños, Iara! 🎉</title>
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon-16x16.png"
    />
    <link rel="manifest" href="/manifest.json" />
    <meta name="robots" content="noindex" />
    <meta
      name="description"
      content="Únete a nosotros para celebrar el cumpleaños de Iarilú, un día lleno de amor, alegría y recuerdos especiales."
    />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body class="bg-cyan-50 text-cyan-800">
    <div
      class="font-serif min-h-screen bg-gradient-to-b from-cyan-900 to-cyan-700 py-12 px-4 sm:px-6 lg:px-8"
    >
    <div class="absolute top-0 left-0 w-full h-full overflow-hidden">
      {[...Array(100)].map((_, i) => (
        <Sparkle
          key={i}
          className="absolute text-yellow-100 opacity-20 w-2 fill-current"
          style={{
            top: `${Math.random() * 100}%`,
            left: `${Math.random() * 100}%`,
            fontSize: `${Math.random() * 20 + 10}px`,
            animation: `twinkle ${Math.random() * 5 + 3}s infinite`,
          }}
        />
      ))}
    </div>
      <div class="max-w-3xl mx-auto space-y-8">
        {/* Invitation Section */}
        <section class="text-center">
          <h1 class="text-9xl font-extrabold font-title text-yellow-300 mb-4">
            Te invito a mis XV!
          </h1>
          <p class="text-xl text-cyan-100">
            Compartí mi noche más especial conmigo.
          </p>
        </section>

        <CountdownTimer client:load />

        {/* Description and Dress Code Section */}
        <Card className="bg-cyan-50">
          <CardHeader>
            <CardTitle className="text-2xl font-bold text-cyan-800"
              >Detalles del Evento</CardTitle
            >
          </CardHeader>
          <CardContent className="space-y-4">
            <div class="flex items-center space-x-2">
              <Calendar className="text-cyan-600" />
              <span>Viernes, 21 de Febrero, 2025</span>
            </div>
            <div class="flex items-center space-x-2">
              <Clock className="text-cyan-600" />
              <span>21 p.m.</span>
            </div>
            <div class="flex items-center space-x-2">
              <MapPin className="text-cyan-600" />
              <span>Club Social Resistencia</span>
            </div>
            <div class="flex items-center space-x-2">
              <Shirt className="text-cyan-600" />
              <span>Vestimenta: Elegante</span>
            </div>
          </CardContent>
        </Card>

        {/* Google Maps Location */}
        <Card className="bg-cyan-50">
          <CardHeader>
            <CardTitle className="text-2xl font-bold text-cyan-800"
              >Ubicación</CardTitle
            >
          </CardHeader>
          <CardContent>
            <div class="aspect-w-16 aspect-h-9">
              <iframe
                title="Club Social Resistencia, Chaco"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3540.505229972969!2d-58.991184924457436!3d-27.453526216017416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94450cf3450af76d%3A0xcc1c85a3290c02ca!2sClub%20Social%20Resistencia!5e0!3m2!1sen!2sar!4v1728654520956!5m2!1sen!2sar"
                width="100%"
                height="100%"
                style={{ border: 0 }}
                allowfullscreen={true}
                loading="eager"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </CardContent>
        </Card>
        <div class="text-center space-x-4">
          <RSVPDialog client:load />
          <BankTransferDialog client:load />
        </div>
      </div>
    </div>
  </body>
</html>